#nav{
    color: #333;
    padding-top: 10px;
    visibility: visible;
}
#choose_area{
    padding: 30px;
    position: relative;
}
.by_type{
    border-top: 4px solid #e5e5e5;
    background: #fafafa;
}
.types{
    position: relative;
    padding: 10px;
    border-bottom: 1px dotted #cacaca;
}
.all_type{

}
.type_list{

}
.type_list ul{
    width: 560px;
    margin-left: 50px;
}
.type_list li{
    float: left;
    width: 92px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    margin: 3px 8px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    color: #333;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.type_list li:hover{
    background: #1E9FFF;
    color: #fff;
}
.type_list li.on{
    background: #1E9FFF;
    color: #fff;
}
.options{
    position: absolute;
    right: 10px;
}
.all{
    margin-left: 20px;
}
.more_active{
    font-size: 14px;
    cursor: pointer;
}
.many{
    margin-right: 10px;
}
.layui-tab-title .layui-this{
    color: #f40;
}
#test_area td,#test_area th{
    text-align: center;
}
.splits{
    position: relative;
    top: -1px;
}

@media screen and (max-width:768px){
    #choose_area{
        padding: 10px 0;
        width: 100%;
    }
    .type_list li,.all,.many{
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
        font-size: 12px;
        width: 44px;
        max-width: 100px;
        margin: 3px 3px;
    }
    .type_list ul{
        width: 100%;
        margin-left: 0;
    }
    .options{
        top: 10px;
    }
    .more_active{
        font-size: 12px;
    }
    .layui-icon-down{
        font-size: 12px;
    }
    #test_area li,#test_area th,#test_area td{
        font-size: 12px;
    }
    .layui-table td, .layui-table th{
        padding: 9px 4px;
    }
    .grades li{
        width: 60px;
    }
    .table_wrap{
        overflow-x: auto;
    }
    .table_wrap table{
        width: 300%;
    }
}